/* header */
header {
  background: url('images/header-image.jpg') 50% 100% no-repeat;
  background-size: 1440px 1315px;
  height: 100vh;
}

/* navigation bar */

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.nav-bar ul {
  display: flex;
  border: 1px solid gray;
  border-radius: 4px;
  height: 6vh;
  width: 70%;
  margin: 6em;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #808080 0, #707070 50%, #565656 51%, #666 100%);
}

.nav-bar li {
  width: 100px;
  height: 65%;
  padding-top: 0.5em;
  padding-left: 2em;
  border-right: 2px solid grey;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.search-input {
  position: absolute;
  left: 5px;
  width: 90px;
  height: 16px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to bottom, #707070, #808080 10%);
}

.fa-search {
  position: absolute;
  top: 12px;
  left: 8px;
  z-index: 1;
}

/* header-main images and text */

.header-images {
  margin: 0;
  padding: 0;
}

.header-images img {
  margin: auto;
  display: block;
}

.header-link {
  margin-top: -0.5em;
  display: flex;
  justify-content: center;
}

.header-link a {
  display: block;
  color: white;
  margin-top: 1em;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}

.subtitle-icon {
  margin-top: 1.5em;
  margin-left: 0.5em;
  width: 2em;
  height: 2em;
}

/* products images section */

.product-images ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.product-images img { width: 100%; }

/* footer */

.footer-links {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  padding: 1em;
  align-items: baseline;
}

.footer-links p,
.last-footer-links p { color: gray; }

.footer-links2 ul { display: flex; }

.footer-links2 li {
  padding-right: 0.5em;
  height: 6px;
}

.footer-links2 .link1,
.footer-links2 .link-image { border: none; }

.nav-bar li:nth-child(9) {
  position: relative;
  width: 100px;
  border: none;
}

.footer-links2 a {
  border-left: 1px solid rgb(177, 168, 168);
  padding-left: 0.4em;
  line-height: 1em;
  padding-bottom: 0;
}

.footer-links2 .link3 {
  border-right: 1px solid rgb(177, 168, 168);
  padding-right: 0.5em;
}

.footer-links2 img { height: auto; }

.footer-links a,
.last-footer-links a {
  text-decoration: none;
  color: rgb(46, 152, 240);
}

.header-link a:hover {
  text-decoration: underline;
}

.footer-links a:hover,
.last-footer-links a:hover { text-decoration: underline; }

.last-footer-links {
  margin-left: 8.1em;
  font-size: 12px;
  padding-bottom: 2em;
}

.last-footer-links .last-link1 {
  border-right: 1px solid rgb(177, 168, 168);
  padding-right: 0.5em;
}

@media only screen and (max-height: 657px) {
  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
}
